<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<title>Vue JS</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div style="text-align: center;">
		<div id="new" >
			<h1><b>{{test}}</b></h1>
			
		</div><br>
		<div id="comment">

			<p v-for="c in comments">
				
					{{c.com}} || 14-11-2020 || SCORE : {{c.score}}  
				<button v-on:click="">+</button>	
				<button v-on:click="">-</button>
			</p>
		</div><br>
		<div id="form">
	
			<input type="text" name="comment"  v-on:keyup.enter="addComment">
			
		</div>
	</div>
<script type="text/javascript" src="vue.js"></script>
<script>
	
	var vo = new Vue({
		el : '#new',
		data : {
			test: "Comment with Vue JS",
		},
	});
	
	var comment = new Vue({
		el: '#comment',
		data:{
			comments: [
				{com: "Lorem dolor sit amet, consectetur adipiscing elit, do eiusmod tempor ", 
				score: 5},
				{com: "incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam",
				score: 4}
			],
			newComment: ""
		},
		methods: {
			
			addComment: function(){
				let pushComment = {
					com: this.newComment,
					score: 0
				}
				this.comments.push(pushComment)
				this.newComment= ""
			}
		
		}
	});
	var form = new Vue({
		el: '#form',
		methods: {

			send: function(){
				console.log('send')
			}
		}

	})
</script>
</body>
</html>